<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776710598160-i05tshvbmc3di8nrfjda0uhjnno4389o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776710598160-i05tshvbmc3di8nrfjda0uhjnno4389o</string>
	<key>API_KEY</key>
	<string>AIzaSyDIGJXlhxvVYnMFxM5mtBw9C8GUL2A9Oj4</string>
	<key>GCM_SENDER_ID</key>
	<string>776710598160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.animalHouse</string>
	<key>PROJECT_ID</key>
	<string>pets-anaimal</string>
	<key>STORAGE_BUCKET</key>
	<string>pets-anaimal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776710598160:ios:959b514a1212589609a495</string>
</dict>
</plist>